* {
  box-sizing: border-box;
}

body {
  background-color: #cfcfcf !important;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

h4 {
  color: rgb(10, 179, 142);
}

hr {
  border: solid 1px black;
  width: 300px;
  height: 1px;
}

#tip-amount,
#bill-total {
  font-weight: bold;
}

input {
  border: 0;
  font-size: 30px;
  text-align: right;
}

.total {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.amount {
  margin: 1em;
}

.fa-money-bill-wave {
  font-size: 5em;
  color: rgb(12, 206, 164);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.calculator {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.heading {
  text-align: center;
}
